<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const PostListApp = {
        delimiters: ['[[', ']]'],

        data() {
            return {
                postList: [],
                category: [],
                tag: []
            }
        },

        created() {
            console.log("created()...");
            const params = new URL(location).searchParams;
            this.category = params.get('category');
            this.tag = params.get('tag');
            this.fetchPostList();
        },

        methods: {
            fetchPostList() {
                console.log("fetchPostList()...", this.category, this.tag);
                const getUrl = `/api/post/list/${this.category ? `?category=${this.category}` : this.tag ? `?tag=${this.tag}` : ``}`;
                axios.get(getUrl)
                .then(res => {
                    console.log("FETCH POSTLIST GET RES", res);
                    this.postList = res.data;
                })
                .catch(err => {
                    console.log("FETCH POSTLIST GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status} ${err.response.statusText}`);
                });
            }
        }
    }
    Vue.createApp(PostListApp).mount('#page-top')
</script>