<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const PostDetailApp = {
        delimiters: ['[[', ']]'],

        data() {
            return {
                post: {},
                prevPost: {},
                nextPost: {},
                cateList: [],
                tagList: []
            }
        },

        created() {
            console.log("created()...");
            const postId = location.pathname.split('/')[3];
            this.fetchPostDetail(postId);
            this.fetchCateTagList();
        },

        methods: {
            fetchPostDetail(postId) {
                console.log("fetchPostDetail()...");

                axios.get(`/api/post/${postId}/`)
                .then(res => {
                    console.log("FETCH POSTLIST GET RES", res);
                    this.post = res.data.post;
                    this.prevPost = res.data.prevPost;
                    this.nextPost = res.data.nextPost;
                })
                .catch(err => {
                    console.log("FETCH POSTLIST GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status} ${err.response.statusText}`);
                });
            },
            fetchCateTagList() {
                console.log("fetchCateTagList()...");

                axios.get(`/api/catetag/`)
                .then(res => {
                    console.log("FETCH CATE_TAG_LIST GET RES", res);
                    this.cateList = res.data.cateList;
                    this.tagList = res.data.tagList;
                })
                .catch(err => {
                    console.log("FETCH CATE_TAG_LIST GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status} ${err.response.statusText}`);
                });
            },
            serverPage(category='', tag='') {
              console.log("serverPage()...", category, tag);
              if (category && tag) alert(`serverPage() both args Error: ${category} and ${tag}`);
              else if (category) location.href = `/?category=${category}#portfolio`;
              else if (tag) location.href = `/?tag=${tag}#portfolio`;
              else location.href = `#portfolio`;
            }
        }
    }
    Vue.createApp(PostDetailApp).mount('#page-top')
</script>